<h2>{{ title }}</h2>
<div>
    @let resource = pokemon.value();
    <p>Has Value: {{ pokemon.hasValue() }}</p>
    <p>Status: {{ pokemon.status() }}.  Status Enum: 2 - loading, 4 is resolved.</p>
    <p>Is loading: {{ pokemon.isLoading() }}</p>
    @if (pokemon.isLoading()) {
        <p>Loading the pokemon....</p>
    } @else if (pokemon.hasValue() && resource) {
        <div class="container">
            <img [src]="resource.frontShiny" />
            <img [src]="resource.backShiny" />
        </div>
        <app-pokemon-personal [pokemon]="resource"></app-pokemon-personal>
        <app-pokemon-tab [pokemon]="resource"></app-pokemon-tab>
    }
</div>
<app-pokemon-controls></app-pokemon-controls>